[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "snowflakes"]
	path = snowflakes
	url = https://github.com/svetlanaeden/snowflakes
[submodule "survSpearman"]
	path = survSpearman
	url = https://github.com/svetlanaeden/survspearman
